--extra-index-url https://storage.openvinotoolkit.org/simple/wheels/nightly
--pre

openvino
openvino-tokenizers
openvino-genai
gradio>=4.0
pandas
numpy
requests
Pillow
python-docx
PyPDF2
librosa
transformers
google-api-python-client
huggingface_hub
py-cpuinfo